<script setup lang="ts">
  import { version } from '@/../package.json';
</script>

<template>
  <div class="about horizontal-center">
    <h1 class="primary title">Math Drawer</h1>
    <p class="primary-text-light version">v{{version}}</p>
    <p class="primary-text-light">Math Drawer is a special website designed in Vue.js</p>
  </div>
</template>

<style scoped>
  .about {
    max-width: 700px;
    margin-top: 100px;
  }

  .title {
    margin-bottom: 0;
  }

  .version {
    margin-top: 0;
  }
</style>