<template>
  <main>
    <div class="center">
      <h1>
        <span class="primary">Math Drawer</span>
        <br />
        <span class="priamry-text">for drawing Geometry easily</span>
      </h1>
      <p class="primary-text-light">Math Drawer Lets you...</p>
    </div>
  </main>
</template>
