<template>
  <button>
    <slot></slot>
  </button>
</template>

<style scoped>
button {
  padding-block-start: 0.25rem;
  padding-block-end: 0.25rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  border-radius: 4px;
  background-color: var(--primary);
  color: var(--alternate-text);
  border-color: transparent;
}

button:hover {
  cursor: pointer;
  background-color: var(--primary-dark);
}

button:active {
  cursor: default;
}
</style>
