<script setup lang="ts">
import { RouterLink } from "vue-router";
import Button from "./AppButton.vue";
import Divider from "./AppDivider.vue";
</script>

<template>
  <div class="navbar">
    <RouterLink to="/">
      <img
        alt="Main logo"
        class="logo"
        src="@/assets/logo.svg"
        width="30"
        height="32"
      />
    </RouterLink>
    <Divider class="logo-divider" />
    <ul class="pages">
      <li key="about">
        <RouterLink to="/about"><Button>About</Button></RouterLink>
      </li>
      <li key="draw">
        <RouterLink to="/draw"><Button>New Drawing</Button></RouterLink>
      </li>
    </ul>
  </div>
  <Divider />
</template>

<style scoped>
.navbar {
  display: flex;
  padding: 5px;
}

.navbar *:not(:first-child) {
  margin-left: 10px;
}

.pages {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
}

.pages li {
  float: right;
}

.pages li:not(:first-child) {
  margin-right: 10px;
}
</style>
