<script lang="ts">
import { usePositionsStore } from "@/stores/positions";
import { mapActions, mapState } from "pinia";

export default {
    computed: {
        ...mapState(usePositionsStore, [
            "lastPosition",
            "positions",
            "getImageData",
            "preview",
        ]),
        width() {
            return document.body.clientWidth;
        },
        height() {
            return document.body.clientHeight;
        },
        canvas() {
            return this.$refs.canvas as HTMLCanvasElement;
        },
        ctx() {
            return (this.$refs.canvas as HTMLCanvasElement).getContext("2d", {
                willReadFrequently: true,
            });
        },
    },
    methods: {
        ...mapActions(usePositionsStore, [
            "addPosition",
            "updateImageData",
            "undo",
            "setPreview",
        ]),
        drawPreview(e: MouseEvent) {
            if (this.lastPosition && this.ctx) {
                if (this.getImageData) {
                    this.ctx.putImageData(this.getImageData, 0, 0);
                }

                this.ctx.beginPath();
                this.ctx.moveTo(this.lastPosition.x, this.lastPosition.y);

                const closest = this.positions.find(
                    (p) => Math.hypot(p.x - e.offsetX, p.y - e.offsetY) < 10
                );

                if (closest) {
                    this.setPreview(closest);
                    this.ctx.lineTo(closest.x, closest.y);
                } else {
                    this.setPreview({ x: e.offsetX, y: e.offsetY });
                    this.ctx.lineTo(e.offsetX, e.offsetY);
                }

                this.ctx.stroke();
            }
        },
        drawPosition(e: MouseEvent) {
            if (this.ctx) {
                if (!this.preview || !this.positions.includes(this.preview)) {
                    this.ctx.font = "30px Public Sans";
                    this.ctx.fillText(
                        String.fromCharCode(65 + this.positions.length),
                        e.offsetX,
                        e.offsetY
                    );
                }
                this.addPosition(this.preview || { x: e.offsetX, y: e.offsetY });
                this.updateImageData(
                    this.ctx.getImageData(0, 0, this.canvas.width, this.canvas.height)
                );
            }
        },
        undoLine() {
            if (this.ctx) {
                this.undo();
                if (this.getImageData) {
                    this.ctx.putImageData(this.getImageData, 0, 0);
                }
            }
        },
        hidePreview() {
            if (this.ctx && this.getImageData) {
                this.ctx.putImageData(this.getImageData, 0, 0);
            }
        },
    },
};
</script>

<template>
    <div class="grid">
        <canvas :width="width" :height="height" ref="canvas" @click="drawPosition" @mousemove="drawPreview"
            @mouseleave="hidePreview">
        </canvas>
    </div>
    <button @click="undoLine" :disabled="!!!positions.length">Undo</button>
</template>

<style scoped>
.grid {
    background-size: 60px 60px;
    background-image: linear-gradient(to right,
            var(--primary-light) 1px,
            transparent 1px),
        linear-gradient(to bottom, var(--primary-light) 1px, transparent 1px);
}
</style>
