/* body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

:root {
  --font-family: 'Public Sans';
  --primary-light: #c7d7e9;
  --primary: #096bde;
  --primary-dark: #0a5ebe;
  --primary-text-light: #3E5060;
  --primary-text: black;
  --alternate-text: white;
  --divider: #0000001f;
}

body {
  color: var(--primary-text);
  font-family: var(--font-family);
  height: 100vh;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-center {
  margin: 0 auto;
}

.center {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.primary {
  color: var(--primary);
}

.primary-text {
  color: var(--primary-text);
}

.primary-text-light {
  color: var(--primary-text-light);
}

.alternate-text {
  color: var(--alternate-text);
}
