@font-face {
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    font-display: auto;
    src: url("/fonts/PublicSans/PublicSans-Regular.ttf") format("truetype")
  }