<script setup lang="ts">
import { RouterView } from "vue-router";
import Navbar from "./components/AppNavbar.vue";
</script>

<template>
  <header>
    <Navbar />
  </header>

  <RouterView />
</template>

<style>
@import "@/assets/base.css";
</style>
